<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378667569290-1m3u79ocb0k0l3fv1oml0c6784h2if4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378667569290-1m3u79ocb0k0l3fv1oml0c6784h2if4g</string>
	<key>API_KEY</key>
	<string>AIzaSyAc9YyLQzKg_3-jreXlgM4THaLqOj2tLXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>378667569290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nsquare.whitelabelproject.WhiteLabelProject</string>
	<key>PROJECT_ID</key>
	<string>nsquaredapps-6eb5f</string>
	<key>STORAGE_BUCKET</key>
	<string>nsquaredapps-6eb5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378667569290:ios:41e3a7e04fb51754dc9d73</string>
</dict>
</plist>